@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@300&display=swap');

.infos {
    height: 42vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 44%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #777;
}
