.showcase {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.filter {
    width: 90px;
    margin-top: 50px;
    margin-right: 90px;
}

.filter ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 12px;
    list-style: none;
}

.filter li a {
    display: block;
    transition: .2s;
}

.filter li a:hover {
    transform: scale(1.15);
}

.products {
    margin-right: 180px;
    width: 64.2%; 
    padding: 90px 120px 180px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 60px;
}

.products h5 {
    margin-top: 250px;
    font-size: 15px;
    font-weight: 400;
}

.noProducts {
    display: flex;
    justify-content: center !important;
}

