.imageContainer {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    
}
  
.image.hide {
    opacity: 0;
}
